/**** THIS IS SPECIFICALLY FOR WINDOWS PHONES ******/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

@media (min-width: 768px) {

/************** GLOBAL ************/
	header {
		padding: 20px 0 0 0;
	}
		header .brand {
			float: left;
			margin: 5px 0;
			width: 100%;
		}
			header .brand img {
				max-width: none;
			}
		header .navToggle {
			display: none !important;
		}
		header nav {
			display: block !important;
			position: relative;
		}
			header ul {
				float: right;
				width: auto;
			}		
				header ul li {
					display: inline-block;
				}		
					nav ul li a {
						font-size: 19px;
						padding: 15px 11px;
					}
/********* INTERIOR ************/

/********** BOOTSTRAP OVERRIDES *******/
	.container {
		width: 745px;
	}

}

@media (min-width: 992px) {

/************** GLOBAL ************/

/********** BOOTSTRAP OVERRIDES *******/
	.container {
		width: 984px;
	}

}


@media (min-width: 1200px) {


/********* GLOBAL *********/
	nav ul li a {
		padding: 15px 30px;
		padding: 15px 28px\9;
	}
/********* INDEX ************/

/********* INTERIOR ************/

/********** BOOTSTRAP OVERRIDES *******/
	.container {
		width: 1164px;
	}


}

@media (max-width: 500px) {

}


@media print {

}